<html>
    <body>
        <form action='/api/get_name_by_id/'>
            <input name='id'>
            <button type='submit'>Получить название населенного пункта по id</button>
        </form>
         <form action='/api/get_full_name_by_id/'>
            <input name='id'>
            <button type='submit'>Получить полное название населенного пункта по id</button>
        </form>
         <form action='/api/get_ids_by_name/'>
            <input name='name'>
            <button type='submit'>Получить id-шки по названию населенного пункта</button>
        </form>
         <form action='/api/get_full_names_by_name/'>
            <input name='name'>
            <button type='submit'>Получить полные названия по названию населенного пункта</button>
        </form>
        <form action='/api/find_names'>
           <input name='find'>
           <button type='submit'>Получить названия НП по первым буквам</button>
        </form>
        <form action='/api/find_full_names'>
           <input name='find'>
           <button type='submit'>Получить полные названия НП по первым буквам</button>
        </form>
        <form action='/api/get_parents_id'>
           <input name='id'>
           <button type='submit'>Получить id родителей по id НП</button>
        </form>
        <form action='/api/get_affiliations_ids_by_id'>
           <input name='id'>
           <button type='submit'>Получить id принадлежности к району и области НП по его id</button>
        </form>
        <form action='/api/get_name_with_affilations_by_id'>
           <input name='id'>
           <button type='submit'>Получить название НП с районом и областью по id</button>
        </form>
        <a href="/api/all_locations_with_full_name">Получить все НП !!Внимание ВСЕ это МНОГО!! :)</a><br>
        <a href="/api/all_locations_without_area">Получить все НП которые не имеют районов. Долго ждать!</a><br>
        <a href="/api/all_locations_without_region">Получить все НП которые не имеют областей. Долго ждать!</a><br>

        

    </body>
</html>
