<html>
    <body>
        <form action='/api/get_name_by_id/'>
            <input name='id'>
            <button type='submit'>Получить название населенного пункта по id</button>
        </form>
         <form action='/api/get_full_name_by_id/'>
            <input name='id'>
            <button type='submit'>Получить полное название населенного пункта по id</button>
        </form>
         <form action='/api/get_ids_by_name/'>
            <input name='name'>
            <button type='submit'>Получить id-шки по названию населенного пункта</button>
        </form>
         <form action='/api/get_full_names_by_name/'>
            <input name='name'>
            <button type='submit'>Получить полные названия по названию населенного пункта</button>
        </form>
        <form action='/api/find_names'>
           <input name='find'>
	       <input name='count'>
           <button type='submit'>Получить названия НП по первым буквам</button>
        </form>
        <form action='/api/find_full_names'>
           <input name='find'>
           <input name='count'>
           <button type='submit'>Получить полные названия НП по первым буквам</button>
        </form>
    </body>
</html>
